
body {
    background-color: white;
    color: #007BFF; 
}


#startingPage {
    text-align: center;
    margin-top: 5%;
}

#startingPage h1 {
    color: gold;
}

#startForm {
    margin-top: 4%;
}

#nameInput {
    width: 300px;
    margin: 0 auto;
}


#quizPage {
    display: none;
}

#quizPage h2 {
    color: gold;
}

#questionsContainer {
    margin-top: 4%;
}

.form-check-label {
    color: #007BFF; /* Blue text color */
}

#submitQuiz {
    margin-top: 3%;
    background-color: gold;
    border-color: gold;
}


#finalResult {
    display: none;
    text-align: center;
    margin-top: 5%;
    color: gold;
}
